@page "/"
@rendermode InteractiveServer
@inject IKernelMemory Memory

<PageTitle>Home</PageTitle>

<h1>Welcome to HanselminutesBot</h1>

Wanting to learn something today? Let's find a Hanselminutes podcast episode that can help you out.

<MudStack>
    <MudCard>
        <MudCardContent>
            <MudTextField T="string" Label="What would you like to learn about?" @bind-Value="UserInput" Variant="Variant.Text" Lines="5" Disabled="loading" />
            @if (selectedSpeakers.Length > 0 || selectedTopics.Length > 0)
            {
                <MudText Typo="Typo.h3">Selected Filters</MudText>
                <MudChipSet>
                    @foreach (var speaker in selectedSpeakers)
                    {
                        <MudChip Color="Color.Primary" Icon="@Icons.Material.Filled.Person" Text="@speaker.Text">@speaker.ChildContent</MudChip>
                    }
                </MudChipSet>
                <MudChipSet>
                    @foreach (var topic in selectedTopics)
                    {
                        <MudChip Color="Color.Secondary" Icon="@Icons.Material.Filled.Lightbulb" Text="@topic.Text">@topic.ChildContent</MudChip>
                    }
                </MudChipSet>
            }
        </MudCardContent>
        <MudCardActions>
            <MudStack>
                <MudButton OnClick="DoAsk" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Disabled="loading">Find episodes</MudButton>
                @if (loading)
                {
                    <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7" />
                }
            </MudStack>
        </MudCardActions>
    </MudCard>

    @if (answer is not null && sources is not null)
    {
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h2">
                    Answer @if (!string.IsNullOrEmpty(answerSpokenFile))
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.VolumeUp" OnClick="@(() => playAudio = !playAudio)" />

                        if (playAudio)
                        {
                            <audio autoplay src="@answerSpokenFile" />
                        }
                    }
                </MudText>
                <MudText Typo="Typo.body1">@answer</MudText>
                <MudText Typo="Typo.h3">Relevant Episodes</MudText>
                <MudStack>
                    @foreach (var episode in sources)
                    {
                        <MudCard>
                            <MudCardContent>
                                <MudStack>
                                    <MudText Typo="Typo.subtitle1">
                                        <MudLink Href="@episode.Uri" Target="_blank">@episode.Title</MudLink> (@episode.Date.ToLongDateString())
                                    </MudText>
                                    <MudText Typo="Typo.subtitle2">
                                        Relevance: @episode.Relevance
                                    </MudText>
                                    <MudStack Row="true">
                                        <MudText Typo="Typo.caption">
                                            Speakers:
                                            <MudChipSet @bind-SelectedChips="selectedSpeakers" MultiSelection="true" Filter="true">
                                                @foreach (string? speaker in episode.Speakers)
                                                {
                                                    if (speaker is not null)
                                                    {
                                                        <MudChip Color="Color.Primary" Icon="@Icons.Material.Filled.Person" Text="@speaker">@speaker</MudChip>
                                                    }
                                                }
                                            </MudChipSet>
                                        </MudText>
                                        <MudText Typo="Typo.caption">
                                            Topics:
                                            <MudChipSet @bind-SelectedChips="selectedTopics" MultiSelection="true" Filter="true">
                                                @foreach (string? topic in episode.Topics)
                                                {
                                                    if (topic is not null)
                                                    {
                                                        <MudChip Color="Color.Secondary" Icon="@Icons.Material.Filled.Lightbulb" Text="@topic">@topic</MudChip>
                                                    }
                                                }
                                            </MudChipSet>
                                        </MudText>
                                    </MudStack>
                                    <MudExpansionPanels>
                                        <MudExpansionPanel Text="Episode Summary">
                                            @episode.Description
                                        </MudExpansionPanel>
                                    </MudExpansionPanels>
                                </MudStack>
                            </MudCardContent>
                        </MudCard>
                    }
                </MudStack>
            </MudCardContent>
        </MudCard>
    }
</MudStack>
